
<div class="col-left">


<tbody>
  <% if user_signed_in? %>
    <h2>User Profile</h2>

  <h3>Username: <%= @user.user_name %></h3>

  <h3>Email: <%= @user.email %></h3>

  <h3>Bio: <%= @user.bio %></h3>
  <p><%= link_to "Edit my profile", edit_user_registration_path %>
  <table>
  <thead>
    <tr>
      <th><h3>Birds Registered</h3></th>
      <th colspan="3"></th>
    </tr>
  </thead>
    <% @user.birds.each do |bird| %>
        <tr>
          <td><%= bird.common_name %></td>
          <td><%= bird.date_seen%></td>
          <td><%= link_to 'Show', bird %></td>
          <% if user_signed_in? && current_user.id == bird.user_id %>
            <td><%= link_to 'Edit', edit_bird_path(bird) %></td>
            <td><%= link_to 'Destroy', bird, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
    <% end %>
    <% else %>
        <p class="notice">You must be <%= link_to('logged in', new_user_session_path)  %> to view a profile. </p>
      
      
  <% end %>
  
</tbody>

</table>

</div>
