

<%= form_for(@bird) do |f| %>
  <% if @bird.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bird.errors.count, "error") %> prohibited this bird from being saved:</h2>

      <ul>
      <% @bird.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :common_name %><br />
    <%= f.text_area :common_name %><br />
    <%= f.label :date_seen %><br />
    <%= Time.use_zone("Eastern Time (US & Canada)") do
        f.datetime_select :date_seen
      end %><br />
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %><br />
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %><br />
    <br>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

