<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="col-right">

<h2>All Birds</h2>
<table>
  <thead>
    <tr>
      <th>Bird Name</th>
      <th>Date seen</th>
      <th>Seen by</th>
    </tr>
  </thead>
  <% Bird.all.each do |bird| %>
    <tbody>
        <tr>
        <td><%= bird.common_name %></td>
        <td><%= bird.date_seen %></td>
        <td><%= link_to bird.user_name, "users/#{bird.user_id}"%></td>
        <td><%= link_to 'Show', bird %></td>
            <% if user_signed_in? && current_user.id == bird.user_id %>
              <td><%= link_to 'Edit', edit_bird_path(bird) %></td>
              <td><%= link_to 'Destroy', bird, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>  
      </tr>
    </tbody>
  <% end %>

</table>

<br>
<% if user_signed_in? %>
<%= link_to 'New Bird', new_bird_path %>
<% end %>
</div>