
<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>


<p class="background">
  <strong>Common name:</strong>
  

  <%= link_to @bird.common_name, "/listed_bird/#{@bird.common_name}" %><br />


  <strong>Date Seen:</strong>
  <%= @bird.date_seen %><br />
  <strong>Longitude:</strong>
  <%= @bird.longitude %><br />
  <strong>Latitude:</strong>
  <%= @bird.latitude %><br />
  <strong>Username:</strong>
  <%= link_to @bird.user_name, "/users/#{@bird.user_id}"%>
</p>

<%= link_to 'Edit', edit_bird_path(@bird), class:"background"%> |
<%= link_to 'Back', birds_path, class:"background" %>

  <div id="map"></div>
  </div>

    <script type="text/javascript">
      handler = Gmaps.build('Google');
      var mapOptions = { mapTypeId: google.maps.MapTypeId.HYBRID}; 
      handler.buildMap({ provider: mapOptions, internal: {id: 'map'}}, function(){
        var markers = handler.addMarkers([{
            "lat": <%= @bird.latitude %>, 
            "lng": <%= @bird.longitude %>, 
            "picture": {
              "url": "http://localhost:3000/assets/toojk1W.png",
              "width": 36, 
              "height": 36
            }

            }]);
        handler.map.centerOn(markers[0]);
        handler.getMap().setZoom(15); 
      });
    </script>
