<p id="notice"><%= notice %></p>



<p class="background">
  <strong>Common name:</strong>
  <%= @bird.common_name %>
  <strong>Date Seen:</strong>
  <%= @bird.date_seen %>
  <strong>Longitude:</strong>
  <%= @bird.longitude %>
  <strong>Latitude:</strong>
  <%= @bird.latitude %>
</p>

<%= link_to 'Edit', edit_bird_path(@bird), class:"background"%> |
<%= link_to 'Back', birds_path, class:"background" %>

  <div class="map">
  <div id="map"></div>
  </div>

    <script type="text/javascript">
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        var markers = handler.addMarkers([{"lat": <%= @bird.latitude %>, "lng": <%= @bird.longitude %>}]);
        handler.map.centerOn(markers[0]);
        handler.getMap().setZoom(15); 
      });
    </script>

<!-- <script>handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);

    if (_.isEmpty(markers)){
    handler.getMap().setZoom(15);
    handler.getMap().setCenter({lat: <%= @bird.latitude %>, lng: <%= @bird.longitude %>,});
  }
  else{
  	handler.getMap().setZoom(15);
  	handler.getMap().setCenter({lat: <%= @bird.latitude %>, lng: <%= @bird.longitude %>,});
    // handler.bounds.extendWith(markers);
    // handler.fitMapToBounds();        
  }
});</script> -->